<% unless sender == recipient %>
  <div class="follow-container" data-user-id="<%= recipient.id %>">
    <% follow_request = sender.sent_follow_requests.find_by(recipient: recipient) %>

    <% if follow_request %>
      <% if follow_request.pending? %>
        <%= button_to "Un-request", follow_request_path(follow_request), 
                    method: :delete,
                    form: { data: { turbo: false } },
                    class: "btn btn-outline-secondary follow-button",
                    remote: true %>
      <% elsif follow_request.accepted? %>
        <%= button_to "Un-follow", follow_request_path(follow_request),
                    method: :delete,
                    form: { data: { turbo: false } },
                    class: "btn btn-outline-secondary follow-button",
                    remote: true %>
      <% end %>
    <% else %>
      <%= render "follow_requests/form", follow_request: FollowRequest.new, recipient: recipient %>
    <% end %>
  </div>
<% end %>
