<%= form_with(model: follow_request, local: false, data: { turbo: false }, class: "d-inline-block") do |form| %>
  <%= form.hidden_field :recipient_id, value: recipient.id %>

  <div class="actions">
    <%= form.submit "Follow", class: "btn btn-outline-secondary btn-block" %>
  </div>
<% end %>
